<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <ul class="content-list">
      <li *ngFor="let post of posts | paginate: { itemsPerPage: 10, currentPage: page }">
        <a [routerLink]="['/post', post.id]">{{post.title}}</a>
      </li>
    </ul>
    <div>
      <pagination-controls (pageChange)="page = $event" maxSize="3"></pagination-controls>
    </div>
  </mat-sidenav>
  <div class="my-content">        
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

