header{
    padding: 0px;
}
img{
    height: 450px;
}
nav{
    &.navbar{
        font-size: 20px;
    }
}
button{
    margin-left: 10px;
    margin-right: 10px;
}
div{
    &.thenBlock2{
        color: #f2ffff;
        margin-right: 15px;
    }
}