<div class="content">
  <h2>This could be a welcoming title!!!</h2>        
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem pariatur dolor odit molestias incidunt neque, magnam dolorem, est ratione magni iure reprehenderit? Ipsa fugiat earum libero distinctio ullam cumque nam!</p>
  <p>Lorem</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, deleniti tempore aspernatur culpa sunt doloribus. Vitae nam, eveniet iusto cupiditate veniam deleniti, quae quos ad quibusdam mollitia enim deserunt nemo?</p>
  <p>Lorem</p>
  <p>Lorem</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga natus nihil iste enim dolores harum eos autem dolore? Consequatur magnam, temporibus a numquam quis illo officiis ipsa non molestias velit?</p>
</div>